<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-white">O mnie</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto"><p class="lead">Od kilku lat zajmuję się profesjonalną oprawą muzyczną imprez jako
        młody DJ.
        Posiadam pełen sprzęt do nagłośnienia imprez takich jak : wesela, 18-stki, imprezy firmowe, urodziny,
        studniówki, rocznice itd.
        Obsługuję imprezy na terenie Warszawy oraz okolic, (możliwość dojazdu na obszarze całej Polski) w różnorakich
        lokalach, barach, restauracjach, plenerach.
      </p></div>
      <div class="col-lg-4 mr-auto"><p class="lead">Muzyka zawsze jest dostosowywana do preferencji gości, gram electro
        house po lata 80, wszystko zależy od Ciebie jaką muzykę wybierzesz.
        Mam za sobą dziesiątki udanych imprez, a zatem nie masz się czego obawiać.
        Jeżeli masz jakiekolwiek pytania, napisz do mnie, odpowiem na wszystkie.
        Serdecznie zapraszam, a Twoja impreza na pewno będzie udana!</p></div>
    </div>
  </div>
</section>
